body {
    width: 200px;
    height: 300px;
}
header {
    padding-bottom: 20px;
}
p {
    text-align: center;
    padding-bottom: 40px;
    color: #1E1C1C;
}
.bg {
    background: url("../images/header.png") center center no-repeat;
    width: 200px;
    height: 160px;
}
.twitter {
    background: url("../images/twitter.png") center center no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.settings {
    background: url("../images/settings-clear.png") center center no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.settings:hover {
    background-image: url("../images/settings-fill.png");
}
.btn {
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #979797;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
    cursor: pointer;
    color: #03A6ED;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
}
.disabled {
    cursor: default;
    color: #D7F1FC;
    border: 1px solid #E6E6E6;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.disabled:hover {
    color: #D7F1FC;
    background: #FFFFFF;
}
.options {
    display: none;
}
.options p {
    font-size: 13px;
}
.input {
    float: right;
    border: 1px solid #c0c8c9;
    border-radius: 4px;
    color: #03A6ED;
    font-size: 18px;
}
.input select {
    border: 0 !important;
    -webkit-appearance: none;
    background: url('../images/arrow.png') no-repeat;
    background-position: 30px;
    width: 50px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
.social {
    padding-top: 80px;
}
.spinner {
    display: none;
    margin: 0 auto 0;
    text-align: center;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #03A6ED;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
